<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Karaoke">
    <meta name="author" content="MMP">
    <title>Karaoke</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>Karaoke</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <table id="dt" class="table table-responsive table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Song</th>
            </tr>
          </thead>
          <tbody>
            {{ range $song := .songs }}
            <tr>
              <td>{{ $song.ID }}</td>
              <td>{{ $song.String }}</td>
            </tr>
            {{ end}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div id="queueMessage">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div id="history">
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var $dataTable = $('#dt').DataTable();
      var $queueMessage = $('#queueMessage');
      var $history = $('#history');

      $('#dt tbody').on('click', 'tr', function() {
        let data = {songId: $('td:first', $(this)).text()};

        $.post("/queue", data, function(response) {
          console.log(response.responseJSON);
          $queueMessage.text(response.responseJSON);
          //Update history
        }).fail(function(response) {
          let errorMessage = response.responseJSON.error;
          console.error(errorMessage);
          $queueMessage.text(errorMessage);
        });
      });
    });
    </script>
    
  </body>
</html>
